<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/metisMenu/metisMenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">

        <title>ML Charts</title>
    </head>
    <script>

        function submit()
        {
            var rowCount = $('#select_filters select').length;
            var data = {};
            for(var i=1; i<=rowCount; i++)
            {
                var value = $( "#select_" +i+ " option:selected" ).text();
                if(value!="All")
                {
                    data[$('#select_'+i).attr('name')] = value;
                }
            }
            console.log($('#tablename').val());
            data["tablename"] = $('#tablename').val();
            console.log(data);

            $.ajax({
                    type: "POST",
                    url: '/plots/gen_charts/',
                    data: JSON.stringify(data),
                    success: function(response)
                    {
                         data = JSON.parse(response);
                         $("#chart_div").empty();
                         $("#chart_div").append(data[0]);
                         $("#chart_div").append(data[1]);
                         $("#chart_div").append(data[2]);
                         $("#chart_div").append(data[3]);
                         $("#chart_div").append(data[4]);
                    },
                    error: function(jqXHR, exception) {

                        console.log(exception);
                    }
                });
        }
    </script>
    <script>


    </script>
    <body>
        <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'upload' %}"><i class="fa fa-table fa-fw"></i>Upload</a>
                        </li>
                        <li>
                            <a href="{% url 'gen_charts' %}"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                        </li>
                        <li>
                            <a href="{% url 'superadmin' %}"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="row" style="padding-top:30px">
                <div id="select_filters">
                    {% for key, value in data.items %}
                    <select name="{{key}}" onchange="return submit();" id="select_{{forloop.counter}}">
                        <option selected>All</option>>
                        {% for i in value %}
                        <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    {% endfor %}
                </div>
                <input type="hidden" value="{{ tablename }}" id="tablename">
            </div>
            <div class="row" style="padding-top:30px">
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/metisMenu.min.js'%}"></script>
    <script src="{% static 'js/sb-admin-2.js'%}"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    </body>

</html>
