{% load static %}
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SP Admin 2 - Bootstrap Admin Theme</title>

        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/metisMenu/metisMenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dist/css/sb-admin-2.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
        <script>
            function submit_list()
            {
                var filter = new Array();
                var ul = document.getElementById("ListOne");
                var items = ul.getElementsByTagName("li");
                for(var i=0; i<items.length; i++)
                {
                    filter[i] = items[i].innerHTML;
                }

                var metric = new Array();
                var ul = document.getElementById("ListTwo");
                var items = ul.getElementsByTagName("li");
                for(var i=0; i<items.length; i++)
                {
                    metric[i] = items[i].innerHTML;
                }

                var remove_elements = new Array();
                var ul = document.getElementById("ListThree");
                var items = ul.getElementsByTagName("li");
                for(var i=0; i<items.length; i++)
                {
                    remove_elements[i] = items[i].innerHTML;
                }
                var filename=document.getElementById("filename").value;
                var data = {'filters': filter, 'metrics':metric, 'remove':remove_elements,'filename':filename};
                console.log(data);
                $.ajaxSetup({traditional: true});
                $.ajax({
                    type: "POST",
                    url: '/plots/data_cleaning/',
                    data: JSON.stringify(data),
                    success: function(result)
                    {
                        console.log(result.Result);
                        $("#widget1").hide();
                        $("#widget2").show();
                    },
                    error: function(jqXHR, exception) {

                        console.log(exception);
                    }
                });
            }
        </script>
    <style>
        .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 15px;
        }

        .list-arrows button {
            margin-bottom: 20px;
        }
    </style>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">SP Admin v2.0</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'upload' %}"><i class="fa fa-table fa-fw"></i>Upload</a>
                            </li>
                            <li>
                            <a href="#collapseCharts" data-toggle="collapse"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" id="collapseCharts">
                                <li>
                                    <a href="#" id="chart1">Chart 1</a>
                                </li>
                                <li>
                                    <a href="#" id="chart2">Chart 2</a>
                                </li>
                            </ul>
                        </li>
                            <li>
                                <a href="{% url 'superadmin' %}"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div id="widget1">
                    <div class="row" style="padding-top:30px">
                        <div class="dual-list list-left col-md-4">
                            <div class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group" id="ListOne" style="max-height:200px;overflow-y:scroll">
                                    {% for items in header %}
                                        <li class="list-group-item">{{items}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="dual-list list-right col-md-4">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group" id="ListTwo" style="max-height:200px;overflow-y:scroll">
                                </ul>
                            </div>
                        </div>

                        <div class="dual-list list-remove col-md-4">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group" id="ListThree" style="max-height:200px;overflow-y:scroll">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:30px">
                        <div class="col-md-4"></div>
                        <div class="list-arrows col-md-4">
                            <center>
                                <div class="col-md-3">
                                    <button class="btn btn-default btn-sm move-left">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default btn-sm move-right">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default btn-sm remove">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default btn-sm undo_remove">
                                        <span class="glyphicon glyphicon-retweet"></span>
                                    </button>
                                </div>
                            </center>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row" style="padding-top:30px">
                        <div class="col-md-12">
                            <center>
                                <input type="hidden" id="filename" value="{{ filename }}">
                                <button onclick="return submit_list();" class="btn btn-primary submit">Submit</button>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:30px; display: none;" id="widget2">
                    <div class="panel panel-default">
                        <div class="panel-body" >
                            <p>hello world</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/jquery-easing.min.js' %}"></script>
        <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{% static 'js/sb-admin-2.js'%}"></script>

        <script>
            $(function () {
                $('body').on('click', '.list-group .list-group-item', function () {
                    $(this).toggleClass('active');
                });
                $('.list-arrows button').click(function () {
                    var $button = $(this), actives = '';
                    if ($button.hasClass('move-left'))
                    {
                        actives = $('.list-right ul li.active');
                        actives.clone().appendTo('.list-left ul');
                        actives.remove();
                    }
                    else if ($button.hasClass('move-right'))
                    {
                        actives = $('.list-left ul li.active');
                        actives.clone().appendTo('.list-right ul');
                        actives.remove();
                    }
                    else if ($button.hasClass('remove'))
                    {
                        actives = $('.list-left ul li.active');
                        actives.clone().appendTo('.list-remove ul');
                        actives.remove();
                        actives = $('.list-right ul li.active');
                        actives.clone().appendTo('.list-remove ul');
                        actives.remove();
                    }
                    else if ($button.hasClass('undo_remove'))
                    {
                        actives = $('.list-remove ul li.active');
                        actives.clone().appendTo('.list-left ul');
                        actives.remove();
                    }
                $('.list-group-item').removeClass('active');
                });

                $('[name="SearchDualList"]').keyup(function (e) {
                    var code = e.keyCode || e.which;
                    if (code == '9') return;
                    if (code == '27') $(this).val(null);
                    var $rows = $(this).closest('.dual-list').find('.list-group li');
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });
            });

        </script>
    </body>
</html>